version: '2'

services:
  coordinator:
    image: stargateio/coordinator-dse-next:${SGTAG}
    networks:
      - stargate
    ports:
      - "9042:9042"
      - "8081:8081"
    mem_limit: 2G
    environment:
      - JAVA_OPTS="-Xmx1536M"
      - CLUSTER_NAME=dse-${DSETAG}-cluster
      - RACK_NAME=rack1
      - DATACENTER_NAME=datacenter1
      - ENABLE_AUTH=true
      - DEVELOPER_MODE=true
    healthcheck:
      test: curl -f http://localhost:8084/checker/readiness || exit 1
      interval: 15s
      timeout: 10s
      retries: 10

  jsonapi:
    image: stargateio/jsonapi:${JSONTAG}
    depends_on:
      coordinator:
        condition: service_healthy
    networks:
      - stargate
    ports:
      - "8181:8181"
    mem_limit: 2G
    environment:
      - JAVA_MAX_MEM_RATIO=75
      - JAVA_INITIAL_MEM_RATIO=50
      - GC_CONTAINER_OPTIONS=-XX:+UseG1GC
      - QUARKUS_GRPC_CLIENTS_BRIDGE_HOST=coordinator
      - QUARKUS_GRPC_CLIENTS_BRIDGE_PORT=8091
      - QUARKUS_HTTP_ACCESS_LOG_ENABLED=${REQUESTLOG}
      - QUARKUS_LOG_LEVEL=${LOGLEVEL}
      - STARGATE_JSONAPI_OPERATIONS_DATABASE_CONFIG_CASSANDRA_END_POINTS=coordinator
      - STARGATE_TABLES_ENABLED=true
    healthcheck:
      test: curl -f http://localhost:8181/stargate/health || exit 1
      interval: 5s
      timeout: 10s
      retries: 10

networks:
  stargate:
